* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0 auto;
}

caption {
  font-size: 40px;
  margin-bottom: 15px;
  color: black;
}

table,
td,
th {
  border: 3px solid rgb(255, 255, 255);
  border-collapse: collapse;
  text-align: center;
}

td:hover {
  font-weight: bold;
  color: #000000;
  letter-spacing: 1.5px;
}

table {
  margin-top: 50px;
  margin-inline: auto;
  background-color: #b39494;
  color: #262222;
  border-spacing: 15px;
  border: 5px solid black;
}

.pause {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 28px;
}

th {
  padding: 20px;
  font-style: italic;
}

td {
  padding: 20px;
  letter-spacing: 1.5px;
}
